nav.menu
  a.logo(href="/homepage") TCG
  div#burger-icon ☰
  div.nav-links
    a(href="/profile") Profile
    a(href="/history") History
    a(href="/homepage") Home
    a(href="/login") Logout

div#sidebar
  a(href="/profile") Profile
  a(href="/history") History
  a(href="/homepage") Home
  a(href="/login") Logout
