//- doctype html
//- html
//-   head
//-     title TCG Homepage
//-     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
//-     meta(charset="utf-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     link(rel="stylesheet", href="/css/homepage.css")
//-   body
//-     //- Temporary test element for Student ID
//-     p.student-id Student ID: #{student_ID}
    
//-     //- Hidden-style menu bar
//-     nav.menu
//-       div.logo TCG
//-       div.nav-links
//-         a(href="#profile") Profile
//-         a(href="#history") History
//-         a(href="#home") Home
//-         a(href="/login") Logout

//-     //- Center content: title, description and buttons
//-     .center-content
//-       h1 TCG Cards
//-       p Welcome #{name}! Enter the arena of TCG Cards – where strategic battles await. Gear up, outsmart your rivals, and fight for glory!
//-       .btn-container
//-         button.btn#start-btn(type="button") Start
//-         button.btn#join-btn(type="button") Join

//-     //- Modal for Join Game
//-     div#joinModal.modal
//-       div.modal-content
//-         span.close-button &times;
//-         h2 Join Game
//-         input(type="text", id="join-pin", placeholder="Enter game pin code")
//-         button(type="button", id="modal-join-btn") Join Game
//-         p#modal-message

//-     script(src='/homepage.js')

doctype html
html
  head
    title TCG Homepage
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/homepage.css")
  body
    //- Temporary test element for Student ID
    p.student-id Student ID: #{student_ID}
    
    //- Hidden-style menu bar
    nav.menu
      div.logo TCG
      div.nav-links
        a(href="#profile") Profile
        a(href="#history") History
        a(href="#home") Home
        a(href="/login") Logout

    //- Center content: title, description and buttons
    .center-content
      h1 TCG Cards
      p Welcome #{name}! Enter the arena of TCG Cards – where strategic battles await. Gear up, outsmart your rivals, and fight for glory!
      .btn-container
        button.btn#start-btn(type="button") Start
        button.btn#join-btn(type="button") Join

    //- Modal for Join Game
    div#joinModal.modal
      div.modal-content
        span.close-button &times;
        h2 Join Game
        input(type="text", id="join-pin", placeholder="Enter game pin code")
        button(type="button", id="modal-join-btn") Join Game
        //- Nested Validation Modal (initially hidden)
        div#validationModal.validation-modal
          div.validation-content
            p#validation-message
            button(type="button", id="validation-ok-btn") OK

    script(src='/homepage.js')
